{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Admin</title>
  <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
</head>
<body>
  <div class="dashboard-wrapper">
    <h1>Panel de Administración</h1>
    <p>Bienvenido, {{ request.user.username }} 👋</p>

    <div class="dashboard-grid">
      <div class="card">
        <h2>Usuarios</h2>
        <ul>
          <li><a href="#">Crear usuario</a></li>
          <li><a href="{% url 'clientes_list' %}">Listar usuarios</a></li>
        </ul>
      </div>

      <div class="card">
        <h2>Productos</h2>
        <ul>
          <li><a href="#">Crear producto</a></li>
          <li><a href="#">Listar productos</a></li>
        </ul>
      </div>
    </div>

    <div class="card">
        <h2>Pediddos</h2>
        <ul>
          <li><a href="#">Crear pedido</a></li>
          <li><a href="#">Listar pedidos</a></li>
        </ul>
      </div>
    </div>

    

    <div class="logout">
      <a href="{% url 'homepage' %}">Cerrar sesión</a>
    </div>
  </div>
</body>
</html>
